/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';
@import 'variable';
@import 'style';
@import 'posts-projects';
@import 'welcome';

@media only screen and (max-width:768px) {
	.col-1, .col-2, .col-3 {
	float:none;
	display: inline;
	}
	#main-nav {
		display:none;
		&.active {
			display:block;
			width:100%;
			a {
				display:block;
				padding: 1em 0;
				border-bottom: 1px solid #E9E9E9;
				&:last-child {
					border-bottom:none;
				}
			}
		}
	}
	.menu {
		display: block!important;
		float: right;
		i {
			font-size: 1.5em;
			color:$dark;
			padding-top:.6em;
		}
	}
}

